
* { /* reseta estilo das margens */
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Cairo', sans-serif;  
    text-align: left;
}

.container {
    background-color: #5A9988;
    display: flex;
    width: 900px;
    height: 95%;
    /* background-image: url("../../general/img/sakura.jpg");*/
} 

.nav-main {
    width: 250px;
    height: 100%;
    background-color: #E89D88;
    text-align: center;
}

.circle-img {
    background-color: #A04F4B;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 #img-logo {
    width: 130px;
}

.nav-item {
    text-transform: uppercase;
    color: #f7f7f7;
    text-decoration: none;
    text-align: center;
    /* margin-bottom: 50px; espaçamento entre linhas -não está funcionando*/
    letter-spacing: 3px;  
}

.nav-item:hover {
    color:#5A9988;
    
}
.header {
    background-color: #5A9988;
    padding: 20px;
    margin: 10px;
    text-align: center;
    letter-spacing: 3px;
    color: white;
}

.welcome {
    margin: 10px;
    color:white;

}

.main {
    width: 650px;
} 

.content {  
    display: flex;
    flex-direction: column;
    /* background: #efefef; */
}

 .featured-img{
    float: left;
} 
.img {
    background-color: white;
    margin: 35px;
    width: 250px;
    height: 300px;
    float: left;    
}

.legend-title {
    color: #A04F4B;
    font-weight: bold;
    text-align: center;
}

p {
    color: #E89D88;
    text-align: center;
}