
* { /* reseta estilo das margens */
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Cairo', sans-serif;  
    text-align: left;
    background-color: #5A9988;
}

.container {
    display: flex;
    width: 900px;
}

.nav-main {
    width: 250px;
    height: 100%;
    background-color: #E89D88;
    text-align: center;
}

.circle-img {
    background-color: #A04F4B;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 #img-logo {
    width: 130px;
}

.nav-item {
    text-transform: uppercase;
    color: #f7f7f7;
    text-decoration: none; /* tira os itens dos links */
    text-align: center;
    letter-spacing: 3px;
}

.nav-item:hover {
    color:#5A9988;
    
}
.header {
    letter-spacing: 3px;
    color: #efefef;
}

.main {
    width: 650px;
}